<%- include("styles.ejs") %>
<form class="search">
    <img title="Fechar" src="../../../close.svg" alt="Botão de fechar">
    <input placeholder="Procure..." type="search">
    <div class="searchInputLines">
        <hr>
        <hr>
    </div>
    <ul>
    </ul>
</form>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
<%- include("script.ejs") %>

