<%- include("styles.ejs") %>
<form class="search">
    <img title="Fechar" src="../../../close.svg" alt="Botão de fechar">
    <input placeholder="Procure..." type="search">
    <div class="searchInputLines">
        <hr>
        <hr>
    </div>
    <ul>
        <li>O baú de Halloween está de volta na loja! <time>Há 2 meses</time></li>
        <li>O baú de Halloween está de volta na loja! <time>Há 2 meses</time></li>
        <li>O baú de Halloween está de volta na loja! <time>Há 2 meses</time></li>
        <li>O baú de Halloween está de volta na loja! <time>Há 2 meses</time></li>
        <li>O baú de Halloween está de volta na loja! <time>Há 2 meses</time></li>
    </ul>
</form>
<%- include("script.ejs") %>