<script>
    const openSearchBtns = document.querySelectorAll(".openSearchBtn");
    const mainHeader = document.querySelector("#mainHeader");
    const headerWithSearch = document.querySelector("#headerWithSearch");
    const searchInput = document.querySelector(".search > input");
    const closeSearchBtn = document.querySelector(".search > img");
    const searchListWrapper = document.querySelector(".search > ul")
    const searchList = document.querySelectorAll(".search > ul > li");

    openSearchBtns.forEach(btn => {
        btn.addEventListener("click", () => {
            menuNavigation.style.transform = `translateX(100%)`
            hamburgerMenu.style.transform = `rotate(0)`
            setTimeout(() => {
                menu.style.zIndex = -1;
                menu.style.opacity = 0;
            }, 500)
            mainHeader.style.display = "none";
            headerWithSearch.style.display = "flex"
            searchInput.focus();
        })
    })

    closeSearchBtn.addEventListener("click", () => {
        mainHeader.style.display = "flex";
        headerWithSearch.style.display = "none";
        searchInput.value = "";
    })

    function ola(posts) {
        console.log(JSON.parse(posts));
    }

/*     searchInput.addEventListener("focus", () => {
        if (searchList.length === 0) {
            searchListWrapper.style.display = "none"
        }
    }) */

   /*  searchInput.addEventListener("keyup", () => {
        const value = searchInput.value;
        const filteredPosts = posts.filter(post => post.title.toLowerCase().includes(value.toLowerCase()))
        searchListWrapper.innerHTML = filteredPosts.map(post => {
            return(
                `<li>${post.title} <time>Há ${post.postTime}</time></li>`
            )
        }).join("")
    })
 */
</script>