<%- include("styles.ejs") %>
<header>
    <div>
        <a href="/">
        <img class="img-header" src="../../paladins icon.png" alt="Logo">
            <p>PALADINS <strong>BLOG</strong></p>
        </a>
    </div>
    <nav>
        <a href="/">INÍCIO</a>
        <a href="https://www.instagram.com/" target="_blank" rel="external" >INSTAGRAM</a>
        <a href="https://www.paladins.com/" target="_blank" rel="external" >PALADINS</a>
        <a href="#"><i class="fas fa-search fa-lg"></i></a>
    </nav>
    <nav class="hamburgerMenu">
        <i class="fas fa-bars"></i>
    </nav>
</header>