<%- include("styles.ejs") %>
<header>
    <div>
        <a href="/">
        <img class="img-header" src="../../paladins icon.png" alt="Logo">
            <p>PALADINS <strong>BLOG</strong></p>
        </a>
    </div>
    <nav>
        <a href="/">INÍCIO</a>
        <a href="https://www.instagram.com/" target="_blank" rel="external" >INSTAGRAM</a>
        <a href="https://www.paladins.com/" target="_blank" rel="external" >PALADINS</a>
        <a href="#"><i class="fas fa-search fa-lg"></i></a>
    </nav>
    <nav title="Menu" class="hamburgerMenu">
        <i class="fas fa-bars"></i>
    </nav>
    <aside class="menu">
        <nav>
            <img title="Fechar" src="../../../close.svg" alt="Botão de fechar">        
            <p class="hoverMenu"><a href="/">INÍCIO</a></p>
            <p class="hoverMenu"><a href="https://instagram.com/">INSTAGRAM</a></p>
            <p class="hoverMenu"><a href="https://www.paladins.com/">PALADINS</a></p>
            <p class="hoverMenu">PESQUISAR</p>
        </nav>
    </aside>
    <%- include("./script.ejs") %>
</header>