<%- include("styles.ejs") %>
<header>
    <div>
        <a href="/">
        <img class="img-header" src="../../paladins icon.png" alt="Logo">
            <p>PALADINS <strong>BLOG</strong></p>
        </a>
    </div>
    <nav>
        <a href="/">INÍCIO</a>
        <a href="https://www.instagram.com/" target="_blank" rel="external" >INSTAGRAM</a>
        <a href="https://www.paladins.com/" target="_blank" rel="external" >PALADINS</a>
        <a href="#"><i class="fas fa-search fa-lg"></i></a>
    </nav>
    <nav title="Menu" class="hamburgerMenu">
        <i class="fas fa-bars"></i>
    </nav>
    <aside class="menu">
        <nav>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="#072c33"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>            
            <p class="hoverMenu"><a href="/">INÍCIO</a></p>
            <p class="hoverMenu"><a href="https://instagram.com/">INSTAGRAM</a></p>
            <p class="hoverMenu"><a href="https://www.paladins.com/">PALADINS</a></p>
            <p class="hoverMenu">PESQUISAR</p>
        </nav>
    </aside>
    <%- include("./script.ejs") %>
</header>