<%- include("styles.ejs") %>
<header>
    <div>
        <img class="img-header" src="../../paladins icon.png" alt="Logo">
        <p>PALADINS <strong>BLOG</strong></p>
    </div>
    <nav>
        <a href="#">HOME</a>
        <a href="#">NOTICIAS</a>
        <a href="#">INSTAGRAM</a>
        <a href="#">PALADINS</a>
        <a href="#"><i class="fas fa-search fa-lg"></i></a>
    </nav>
    <nav class="hamburgerMenu">
        <i class="fas fa-bars"></i>
    </nav>
</header>